//Use the params to define reference files, directories, and CLI options
params {

    // Reads and references
    // reads = "/projectnb/bf528/materials/project-2-rnaseq/subsampled_files/*_{R1,R2}.subset.fastq.gz"
    genome = "/projectnb/bf528/materials/project-2-rnaseq/refs/GRCh38.primary_assembly.genome.fa"
    gtf = "/projectnb/bf528/materials/project-2-rnaseq/refs/gencode.v45.primary_assembly.annotation.gtf"
    full_dir = "/projectnb/bf528/students/nobma/projects/project2/full_files/*_{R1,R2}.fastq.gz"
    
    // Directories
    // outdir = "$projectDir/results/"
    outdir = "$projectDir/full_results"

    // Custom parameters
    // index = "$projectDir/results/STAR_index/"
    // align = "$projectDir/results/STAR_align/"
    // verse_out = "$projectDir/full_results/*.exon.txt"

}

profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P bf528'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4
                }
                withLabel: process_medium {
                    cpus = 8
                    memory = '32 GB'
                }
                withLabel: process_high {
                    cpus = 16
                    memory = '128 GB'
                    clusterOptions = '-P bf528 -l mem_per_core=8G'

                    // cpus = 16
                    // clusterOptions = "-P bf528 -l mem_per_core=16G"
                    // memory = "256G"
                }

            }       
        }


    local {
        process.executor = 'local'
    }
}

//Change the queueSize to enable more parallel jobs (remember the SCC is a shared resource)
//Adjust as necessary
executor {
    $sge {
        queueSize = 20
    }
    $local {
        cpus = 1
    }
}


//Miscellaneous CLI flags
resume = true